{% extends 'base.html' %}
{% block body %}
<h1>All Products</h1>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-2 mx-auto">
            <div class="list-group">
                {%for i in duplicate_cate%}
                <a href="{%url 'eapp:cato' i.id%}" class="list-group-item list-group-item-action active">{{i}}</a>
                {%endfor%}
            </div>
        </div>

        <div id="product" class="col-lg-10 mx-auto">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for i in pl %}
                    <div class="col">
                        <div class="card shadow-sm" style="border: 1.5px solid #000000; border-radius: 8px;">
                            <img src="{{ i.image }}" alt="Please Check Image" width="200px" height="200px">
                            <div class="card-body">
                                <p class="card-text">{{ i.name }}</p>
                                <p class="card-text">{{ i.description }}</p>
                                <p class="card-text">{{ i.price }}</p>
                                {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p> {% endcomment %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{%url 'eapp:add' i.id %}" style="color: black;">AddToCart</a></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>                  
                                    </div>
                                    <small class="text-body-secondary">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}