{% extends 'bookmyevent/base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <p class="card-text">Date: {{ event.date }}</p>
        <p class="card-text">Venue: {{ event.venue.name }}</p>
        <p class="card-text">Price: ${{ event.ticket_price }}</p>
        <p class="card-text">Available Tickets: {{ event.max_tickets }}</p>
        <a href="{% url 'ticket_book' event_id=event.id %}" class="btn btn-primary">Book Ticket</a>
    </div>
</div>
{% endblock %}
