{% load static %}
<link rel="stylesheet" href="{% static "css/bmin.css" %}">
<link rel="stylesheet" href="{% static "css/navbar.css" %}">
<link rel="stylesheet" href="{% static "css/home.css" %}">
<link rel="stylesheet" href="{% static 'css/poster.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% include "navbar.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Thrift Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>


   
</body>
</html>